body,
html {
  height: 100%;
}
.bg-dark {
  background-color: #0c0c13 !important;
}
.cover-container {
  /*Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../images/lightsabercrop.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

header > img {
  height: 6rem;
}

.avatar {
  border-radius: 4rem;
  border-width: 0.25rem !important;
  border-color: #ffe81f !important;
}
.avatar-info {
  top: auto;
  background-color: #000000;
  height: 8rem;
  bottom: 0;
  border-radius: 0 0 4rem 4rem;
  padding-bottom: 0;
}

.avatar-thumbnail {
  border-radius: 2rem;
  border-width: 0.25rem !important;
  border-color: #ffe81f !important;
}
.avatar-thumbnail:hover {
  cursor: pointer;
  /* border-width: 0.5rem !important; */
  border-color: #ff411f !important;
}

.avatar-thumbnail-info {
  top: auto;
  background-color: #00000080;
  height: 4rem;
  bottom: 0;
  border-radius: 0 0 2rem 2rem;
}

.avatar-thumbnail img {
}
.characters {
}

/* .avatar {
  width: 100px;
  height: 150px;
  background: #000;
  color: white;
  display: inline-block;
  margin: 10px;
  border: 2px solid #fff;
  font-size: 12px;
}
.avatar img {
  height: 100px;
}
.avatar:hover {
  cursor: pointer;
  transition: background-color 0.2 ease-in-out;
  background-color: #fff;
  transition: color 0.2 ease-in-out;
  color: #000;
  transition: border 0.2 ease-in-out;
  border-color: #000;
}
.avatar-name,
.avatar-hp {
  margin: 0 auto;
}

.selected-card {
  background-color: #2f8636;
  color: #fff;
}
.enemy-card {
  background-color: #af2020;
  color: #fff;
} */
