
body{
	background-image: url(../images/x-wing.jpg);
	background-size: cover;
	background-color: #312c49;
}
.page-header{
	margin: 0;
	padding-bottom: 0;
	background: #000;
	opacity: 0.7;
}
.playground{
	width: 100%;
}
.avatar{
	width: 100px;
	height: 150px;
	background: #000;
	color: white;
	display: inline-block;
	margin: 10px;
	border: 2px solid #fff;
	font-size: 12px;
}
.avatar img{
	height: 100px;
}
.avatar:hover{
	cursor: pointer;
	transition: background-color .2 ease-in-out;
	background-color: #fff;
	transition: color .2 ease-in-out;
	color: #000;
	transition: border .2 ease-in-out;
	border-color: #000;
}
.avatar-name, .avatar-hp{
	margin: 0 auto;
}

.selected-card{
	background-color: #2f8636;
	color: #fff;
}
.enemy-card{
	background-color: #af2020;
	color: #fff;
}
#attackBtn, #restartBtn{
	width: 100px;
	margin: 10px;
}
#attack-detail{
	background: #00000086;
	color: #fff;
}